/*
	-------------------------------------
		#FONTS
	-------------------------------------
*/
@font-face {
    font-family: "Arista";
    src: url("../fonts/Arista.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}